---
import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import ArrowCard from "@components/ArrowCard.astro";
import { ART } from "@consts";

const projects = (await getCollection("art"))
  .filter((project) => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<PageLayout title={ART.TITLE} description={ART.DESCRIPTION}>
  <Container>
    <div class="space-y-10">
      <div class="animate font-semibold text-black dark:text-white">Art</div>
      <p class="animate text-black dark:text-white">
        A collection of ideas and rumblings I want to share publicly.
      </p>
      <p class="animate text-black dark:text-white">
        Some of them I created on my own, some of them I created with friends.
      </p>
      <ul class="animate flex flex-col gap-4">
        {
          projects.map((project) => (
            <li>
              <ArrowCard entry={project} />
            </li>
          ))
        }
      </ul>
    </div>
  </Container>
</PageLayout>
