---
import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import ArrowCard from "@components/ArrowCard.astro";
import { ART } from "@consts";

const projects = (await getCollection("art"))
  .sort((a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf());
---

<PageLayout title={ART.TITLE} description={ART.DESCRIPTION}>
  <Container>
    <div class="space-y-10">
      <div class="animate font-semibold text-black dark:text-white">Art</div>
      <p class="animate text-black dark:text-white">
        The few art creations that I have documented.
      </p>
      <p class="animate text-black dark:text-white">
        Some I created on my own, others I created with friends.
      </p>
      <ul class="animate flex flex-col gap-4">
        {
          projects.map((project) => (
            <li>
              <ArrowCard entry={project} />
            </li>
          ))
        }
      </ul>
    </div>
  </Container>
</PageLayout>
