---
interface MediaItem {
  readonly type: 'image' | 'video';
  readonly src: string;
  readonly alt?: string;
}

interface Props {
  media: readonly MediaItem[];
}

const { media } = Astro.props;
---

<div class="media-container">
  {media.map(item => (
    item.type === 'video' ? (
      <video 
        src={item.src} 
        controls 
        muted 
        loop
        class="media-item"
      />
    ) : (
      <img 
        src={item.src} 
        alt={item.alt || ''}
        class="media-item"
      />
    )
  ))}
</div>

<style>
  :root {
    --media-gallery-padding: 1rem;
  }
  .media-container {
    display: flex;
    /* padding: var(--media-gallery-padding); */
    gap: var(--media-gallery-padding);
    height: 100%;
    will-change: transform;
  }

  .media-item {
    height: 100%;
    width: auto;
    object-fit: contain;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    margin-left: calc(50%);
    transform: translateX(-50%);
  }

  .media-item:last-child {
    /* margin-right: 50%; */
  }

  @media (max-width: 768px) {
    .media-item {
      height: 40vh;
    }
  }
</style> 